.link {
    border: 2px solid #028113;
    letter-spacing: 0.05rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.link:hover {
    color: #fff;
    background-color: #02811391;
    cursor: pointer;
}